.form-box {
    position: relative;
    width: 50vw;
    height: 80vh;
    background-color: hsla(0, 0%, 0%, 0.847);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
h2 {
    font-size: 1em;
    color: #ffffff;
    text-align: left;
}
.input-box {
    position: relative;
        width: 310px;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
    margin: auto;
}
.input-box input {
    width: 40vw;
    height: 50px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000000;
}
#date{
    width: 40vw;
    height: 50px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 10px;
    outline: none;
    font-size: 1.4em;
    right: 8px;
    padding: 0 35px 0 5px;
    color: #000000;
}
#date
#chooseservice{
    color: #ffffff;
    font-size: 1em;
    text-align: left;
    margin-bottom: 4px;
}
#submit_button{
    width: 45vw;
    height: 35px;
    border-radius: 10px;
    margin: 5px;
}